body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(../images/bamboo.jpg);
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border: solid medium #004d00;
    margin: 1rem;
    padding: 2rem;
    font-weight: bold;

    color: #008000;
}

#gameboard {
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid medium #004d00;
    margin: 1rem;
    padding: 2rem;
    color: #004d00;
}

#letter-slots {
    font-family: 'Gloria Hallelujah', cursive;
}

#scoreboard {
    background-color: antiquewhite;
    border-radius: 10px;
    border: solid medium #004d00;
    margin: 1rem;
    padding: 2rem;
    color: #004d00;
}

#guess-bank {
    background-color: antiquewhite;
    border-radius: 10px;
    border: solid medium #004d00;
    margin: 1rem;
    padding: 2rem;
    color: #004d00;
}